{% include base_path %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
      <h3 class="archive__item-title" itemprop="headline" style="margin-bottom: 0.25em;">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      </h3>

      <p class="archive__item-excerpt" itemprop="description" style="margin-top: 0;">
        {% if post.citation %}
          {{ post.citation }} 
        {% endif %}
        
        {% if post.venue %}
          <i>{{ post.venue }}</i>, 
        {% endif %}
        
        {{ post.date | date: '%Y' }}
      </p>
    </li>
  </article>
</div>
